@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/*Изменяем подсчет ширины блока*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*Убераем линии и обводки*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*Обьявляем теги блочными*/
nav,
footer,
header,
aside {
  display: block;
}

/*Выравнивание шрифтов, размеров в разных браузерах.
Запрет самовольного увеличения! */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*Назначение шрифта по умолчанию для тегов*/
input,
button,
textarea {
  font-family: inherit;
}

/*Убераем особенности поведения разных тегов в разных браузерах*/
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Lato;
  background-color: #f7f7f7;
}

.wraped {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  background: url("/images/fotos/Bysicle_01.png") 50%/cover no-repeat;
  height: 800px;
}

.container {
  max-width: 620px;
  margin: 0px auto;
}

.menu {
  padding: 35px 0px 0px 0px;
  text-align: center;
}

.items-row {
  height: 85px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item:first-child {
  padding-left: 0;
}

.menu__item:last-child {
  padding-right: 0;
}

.item {
  color: #4d4959;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  padding: 0px 35px 0px 35px;
}

.item:hover {
  text-decoration: underline;
}

.menu__logo {
  margin: 0px 22px 0px 22px;
}

.generation {
  background-color: #f7f7f7;
  height: 600px;
  margin: 0px auto;
  padding: 117px 0px 142px 0px;
}

.generation__body {
  margin: 0px 241px 0px 280px;
}

.icon {
  text-align: center;
}

.title {
  margin: 35px 0px;
  font-size: 18px;
  color: #353738;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3.6px;
}

.text {
  font-size: 18px;
  line-height: 34px;
  text-align: center;
}

.vintage {
  height: 100%;
}

.vintage__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.vintage__row img .background {
  width: 600px;
}

.vintage__item {
  position: relative;
}

.item__with-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 65%;
          flex: 1 1 65%;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
}

.item-row-with-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title__body {
  position: relative;
  background: url("/images/fotos/Bg_2.png") 50% cover no-repeat;
  margin: 60px 0px;
}

.vintage__text {
  padding-bottom: 40px;
}

.vintage__text:after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background-color: #353738;
  margin: 0px 0px 0px -25px;
}

.text p {
  text-align: center;
  padding: 0px 60px;
}

.title__body-image {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
}

.title__body-image img {
  width: 100%;
}

.bariosa {
  height: 100%;
}

.bariosa__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bariosa__text {
  padding-bottom: 40px;
}

.bariosa__text:after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background-color: #353738;
  margin: 0px 0px 0px -25px;
}

.title__body-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.item__with-logo {
  position: relative;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
}

.retro {
  height: 100%;
}

.retro__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.retro__item {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  position: relative;
}
